body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: red;
    margin: 0; /* Remove default margin to ensure canvas covers the whole screen */
    overflow: hidden; /* Hide any overflowing content (optional) */
}

.context {
    color: blue;
}

#board {
    /* background-color: skyblue; */
    background-image: url("./flappybirdbg.png");
    position: absolute; /* Position the canvas absolutely */
    top: 0; /* Align canvas to the top of the screen */
    left: 0; /* Align canvas to the left of the screen */
    width: 100%; /* Set canvas width to cover the entire screen */
    height: 100%; /* Set canvas height to cover the entire screen */
}
